christmasDefence.pro.user
christmasDefence.pro.user*
*autosave
.DS_Store
.qmake.stash
*.o
moc_*
christmasDefence.app*
qrc_qresource.cpp
android-*
app_process
Makefile
debug*
*.so
*.app
*.Debug
*.Release